<div>
    <p></p>
    <h3>Ваши заказы</h3>

    <div ng-repeat="o in orders">
        <h4>Заказ № ID {{o.id}}</h4>

        <table class="table table-secondary">
            <thead>
            <tr>
                <td>ID</td>
                <td>Продукт</td>
                <td>Количество</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in o.items">
                <td>{{item.productId}}</td>
                <td>{{item.productTitle}}</td>
                <td>{{item.quantity}}</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-borderless table-warning">
            <tbody>
            <tr>
                <td>Цена</td>
                <td>{{o.price}}</td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td>{{o.address}}</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>{{o.phone}}</td>
            </tr>
            </tbody>
        </table>

        <hr>

    </div>

</div>